
/* header styling*/
#header {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    padding: 20px;
    border: 3px solid black;
}
/*body styling*/
body {
    font-family:Georgia, Times, 'Times New Roman', serif;
    background: url(beigbackground2.jpg);
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 25px;
}  
/* image in index style*/ 
#image1 {
    border: 5px solid black;
}
/*all styling for resume page*/
#resume {
    font-family:Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(54, 45, 49);
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* form section styling*/
form {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    align-items:center;
}

/* styling inside of projects page*/
#projects {
    width: 70%;
    margin: 50px auto;
    padding:  30px;
}
/* specific project styling*/
.project {
    display: none;
    text-align:center;
    margin: 20px auto;
}
/* navigation bar styling*/
nav {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border: 5px;
}
/* button styling for navigation*/
.navigation button{
    padding:10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
/* hovering styling*/
.navigation button:hover {
    background-color:dimgray;
}
/* hyperlink styling*/
a {
    color: black;
}
/* hovering styling*/
a:hover{
    color: blueviolet;
}
/* media queries for different devices*/    
@media (max-width: 600px) {
    #projects {
        width: 100%; 
        padding: 20px;
    }

    .project {
        width: 90%;
        text-align: center; 
    }
    .navigator {
        flex-direction: column; 
        align-items: center;
        width: 100%;
    }

    .navigation button {
        width: 90%;
        font-size: 16px; 
        margin: 5px 0;
    }
    a {
        display: block;
        padding: 10px;
        font-size: 16px;
    }
}